body {
	background: #efeeee;
}

h1 {
	margin: 20px 0 20px 0;
	font-family: sans-serif;
	color: grey;
}

.main {
	width: 320px;
	height: 320px;
	margin: 0 auto;


	background: #efeeee;
	border: 1px solid rgba(255, 255, 255, .2);
	border-radius: 12px;
	box-shadow: -6px -6px 6px 0 rgba(255, 255, 255, .2), 6px 6px 6px 0 rgba(217, 210, 200, .5);
}

.title {
	text-align: center;
}

select {
	margin: 20px 0 20px 40px;

	border: none;
	background: #efeeee;

	color: grey;
	font-weight: 700;
}

select::-ms-expand {
	display: none;
}

select:hover {
	border-color: #888;
}

select:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(255, 255, 255, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}

.rate-box {
	color: grey;
	margin-left: 40px;

	font-family: sans-serif;
}